# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/

# Data
data/raw/
data/processed/
*.csv

# Models
models/
*.pkl
*.joblib
trained_models/
reports/tensorboard/

#chat
chat_bot/
data_chat/


